* {
    box-sizing:border-box;
    margin: 0px;
}
body {
    background-color: black;
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.6)), url('/512.jpg');
    background-repeat: repeat, no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.outer {
    max-width: 600px;
    margin: auto;
    padding: 1em;
}
input, button, .success {
    height: 50px;
    font-size: 16pt;
}
input {
    width: 70%;
    border-width: 0;
    padding: 10px;
    background: ;
}
button {
    width: 30%;
    border: 0;
    padding: 0;
    border-radius: 0;
    background: orange;
}
.success {
    background: limegreen;
    width: 100%;
}
.error {
    color: red;
}

h1 {
    font-weight: 900 !important;
    font-size: 40pt;
}
h2,h3 {
    font-weight: 400;
}
h2 {
    margin-bottom: 2rem;
}
pre {
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-name: slideout;
    margin-left: -100px;
}
pre:hover {
    animation-play-state: paused;
}
@keyframes slideout {
    from {
        margin-left: -100px;
    }

    to {
        margin-left: 100vw;
    }
}

a.instagram {
    color: white;
    text-decoration: none;
}
a.instagram:visited {
    text-decoration: none;}
