<template>
  <q-page padding>
    <h4>Add New Area</h4>

    <q-input v-model="form.name" float-label="Name" />
    <br />
    <q-btn label="Save" color="primary" @click.prevent="save" />
    <q-btn label="Cancel" @click.prevent="cancel" />
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data () {
    return {
      form: {
        name: ''
      }
    }
  },
  methods: {
    save () {
      if (!this.form.name.length) return

      this.$apollo.mutate({
        mutation: gql`
          mutation CREATE_AREA($name: String!) {
            createArea(data: { name: $name }) {
              id
            }
          }`,
        variables: {
          ...this.form
        }
      }).then(({ data }) => {
        this.$router.push({ name: 'area', params: { id: data.createArea.id } })
      })
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>
