<template>
  <q-page padding>
    <h1>{{area.name}}</h1>
    <q-btn
      round
      color="green-9"
      @click="$router.push({ name: 'editArea' })"
      class="fixed"
      icon="edit"
      style="right: 18px; bottom: 18px"
    />

    <div v-for="pin in area.pins" :key="pin.id">
      {{pin.name}}
    </div>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data () {
    return {
      area: {}
    }
  },
  apollo: {
    area () {
      return {
        query: gql`
          query AREA($id: ID!) {
            area(where: { id: $id }) {
              id
              name
              pins {
                id
                name
              }
            }
          }
        `,
        result ({ data }) {
          console.log('update', data)
          this.$store.commit('ui/setHeader', data.area.name)
        },
        variables () {
          return {
            id: this.$route.params.id
          }
        },
        fetchPolicy: 'cache-and-network'
      }
    }
  }
}
</script>
