<template>
  <q-page padding>
    <h4>Edit Area: {{form.name}}</h4>

    <q-input v-model="form.name" float-label="Name" />
    <br />
    <q-btn label="Save" color="primary" @click.prevent="save" />
    <q-btn label="Cancel" @click.prevent="cancel" />
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

const AREA = gql`
  query AREA($id: ID!) {
    area(where: { id: $id }) {
      id
      name
    }
  }`

const UPDATE_AREA = gql`
  mutation UPDATE_AREA($id: ID!, $data: AreaUpdateInput!) {
    updateArea(where: { id: $id }, data: $data) {
      id
    }
  }`

export default {
  data () {
    return {
      area: {},
      form: {}
    }
  },
  methods: {
    save () {
      this.$apollo.mutate({
        mutation: UPDATE_AREA,
        variables: {
          id: this.$route.params.id,
          data: this.form
        }
      }).then(() => {
        this.$router.push({ name: 'area', params: { id: this.$route.params.id } })
      })
    },
    cancel () {
      this.$router.push({ name: 'area', params: { id: this.$route.params.id } })
    }
  },
  apollo: {
    area () {
      return {
        query: AREA,
        variables () {
          return {
            id: this.$route.params.id
          }
        },
        result ({ data }) {
          const { name } = data.area
          this.form = { name }
        }
      }
    }
  }
}
</script>
