<template>
  <q-page>
    <q-list>
      <AreaItem
        v-for="area in areas"
        :key="area.id"
        :to="{ name: 'area', params: { id: area.id } }"
        :name="area.name"
      />

      <q-list-header>Lower Coast</q-list-header>
      <RegionItem label="Port Mellon" sublabel="Industrial Area" icon="fas fa-industry" color="gray" />
      <RegionItem label="Langdale" sublabel="Ferry -- West Vancouver" icon="fas fa-ship" color="blue" />
      <RegionItem label="Gibsons" sublabel="Town" icon="location city" color="orange" />
      <RegionItem label="Roberts Creek" sublabel="Community with Services" icon="nature people" color="green" />
      <RegionItem label="Wilson Creek Plaza" sublabel="Community with Services" icon="nature people" color="green" />
      <RegionItem label="Davis Bay" sublabel="Beach with Services" icon="nature people" color="green" />
      <RegionItem label="Sechelt" sublabel="Town" icon="location city" color="orange" />
      <RegionItem label="Halfmoon Bay" sublabel="Community" icon="nature people" color="green" />
      <RegionItem label="Secret Cove" sublabel="Community" icon="nature people" color="green" />
      <RegionItem label="Madeira Park" sublabel="Town" icon="location city" color="orange" />
      <RegionItem label="Garden Bay" sublabel="Community" icon="location city" color="orange" />
      <RegionItem label="Earls Cove" sublabel="Ferry -- Saltery Bay" icon="fas fa-ship" color="blue" />
      <RegionItem label="Egmont" sublabel="Town" icon="location city" color="orange" />
      <q-list-header>Upper Coast</q-list-header>
      <RegionItem label="Saltery Bay" sublabel="Ferry -- Earls Cove" icon="fas fa-ship" color="blue" />
      <RegionItem label="Lang Bay" sublabel="Community" icon="nature people" color="green" />
      <RegionItem label="Powell River" sublabel="Town and Ferries" icon="location city" color="orange" />
      <RegionItem label="Lund" sublabel="Town" icon="location city" color="orange" />
      <q-list-header>Islands</q-list-header>
      <RegionItem label="Gambier Island" sublabel="Ferry from Langdale" icon="island" color="purple" />
      <RegionItem label="Keats Island" sublabel="Ferry from Langdale" icon="island" color="purple" />
      <RegionItem label="Texada Island" sublabel="Ferry from Powell River" icon="island" color="purple" />
      <RegionItem label="Savary Island" sublabel="Water Taxi from Lund" icon="island" color="purple" />
      <RegionItem label="Thormanby Island" sublabel="Water Taxi from Secret Cove" icon="island" color="purple" />
    </q-list>

    <q-btn
      round
      color="green-9"
      @click="$router.push({ name: 'addArea' })"
      class="fixed"
      icon="add"
      style="right: 18px; bottom: 18px"
    />
  </q-page>
</template>

<script>
import RegionItem from '../components/RegionItem.vue'
import AreaItem from '../components/AreaItem.vue'
import gql from 'graphql-tag'

export default {
  components: {
    RegionItem,
    AreaItem
  },
  data: () => ({
    areas: []
  }),
  apollo: {
    areas: {
      query: gql`
        query ALL_AREAS {
          areas {
            id
            name
          }
        }`
    }
  },
  beforeMount () {
    this.$store.commit('ui/setHeader', 'Sunshine Coast')
  }
}
</script>

<style lang="stylus">
</style>
