<template>
  <q-page padding>
    <h2>Bike The 101</h2>

    <p>
      A bicycle touring community that shares the best routes,
      camping, cafes, and beaches of the British Columbia Sunshine
      Coast.
    </p>

    <q-carousel
      color="white"
      height="200px"
      infinite
      :autoplay="5000"
    >
      <q-carousel-slide img-src="https://images.unsplash.com/photo-1489653626293-fb9e4e37f771?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=339c56eabdd0668e704d4b36a2f4d3f9&auto=format&fit=crop&w=1951&q=80" />
      <q-carousel-slide img-src="https://images.unsplash.com/photo-1461537236760-a9cb9d8ce48f?ixlib=rb-0.3.5&s=49aa0f5f5f9a080c1148c14f0907ec27&auto=format&fit=crop&w=1950&q=80" />
      <q-carousel-slide img-src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56630f621d30f7911fa654a434eacd27&auto=format&fit=crop&w=1951&q=80" />
    </q-carousel>

    <br/>

    <q-btn
      size="xl"
      label="Let's Go"
      color="primary"
      class="full-width"
      align="center"
      @click="$router.push({ name: 'places' })"
    />
  </q-page>
</template>

<script>
export default {
  data: () => ({})
}
</script>

<style lang="stylus">
@import '~variables'

.docs-carousel
  p.caption:not(:first-of-type)
    margin-top 38px
  .custom-caption
    text-align center
    padding 12px
    color $grey-4
    background rgba(0, 0, 0, .5)
</style>
