<template>
  <q-list
    no-border
    link
    inset-delimiter
  >
    <q-list-header>Maps</q-list-header>
    <q-item @click.native="openURL('https://www.google.ca/maps/@49.6278656,-124.089818,9.89z?hl=en')">
      <q-item-side icon="far fa-map" />
      <q-item-main label="Map of the Coast" sublabel="Google Maps" />
    </q-item>

    <q-list-header>Ferry Schedules</q-list-header>
    <q-item @click.native="openURL('http://www.bcferries.com/m/schedules/mainland/vasc-current.php')">
      <q-item-side icon="fas fa-ship" />
      <q-item-main sublabel="West Vancouver - Sunshine Coast" label="Horseshoe Bay - Langdale" />
    </q-item>
    <q-item @click.native="openURL('http://www.bcferries.com/schedules/mainland/lgik-current.php')">
      <q-item-side icon="fas fa-ship" />
      <q-item-main sublabel="" label="Langdale to Gambier Island & Keats Island" />
    </q-item>
    <q-item @click.native="openURL('http://www.bcferries.com/m/schedules/mainland/sepr-current.php')">
      <q-item-side icon="fas fa-ship" />
      <q-item-main sublabel="Sechelt - Powell River" label="Earls Cove - Saltery Bay" />
    </q-item>
    <q-item @click.native="openURL('http://www.bcferries.com/m/schedules/northern/prti-current.php')">
      <q-item-side icon="fas fa-ship" />
      <q-item-main sublabel="Westview - Blubber Bay" label="Powell River - Texada" />
    </q-item>

    <q-list-header>Community</q-list-header>
    <q-item @click.native="openURL('https://instagram.com/bike_the_101')">
      <q-item-side icon="fab fa-instagram" />
      <q-item-main label="Instagram" sublabel="bike_the_101" />
    </q-item>
  </q-list>
  <!--
       https://sunshinecoast-trail.com/plan-your-hike/maps/
       https://en.wikipedia.org/wiki/Sunshine_Coast_(British_Columbia)
       http://www.bikepacking.com/routes/bikepacking-lower-sunshine-coast/
       http://www.env.gov.bc.ca/bcparks/explore/parkpgs/buccaneer_bay/
       http://secretcovetreehouse.com/
     -->
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>
