<template>
  <b-container fluid>
    <AppNavBar />
    <router-view/>
  </b-container>
  <!-- <br>    <br>    <br>
       <b-nav pills>
       <b-nav-item>Port Mellon</b-nav-item>
       <b-nav-item>Langdale</b-nav-item>
       <b-nav-item>Gibsons</b-nav-item>
       <b-nav-item>Roberts Creek</b-nav-item>
       <b-nav-item>Wilson Creek</b-nav-item>
       <b-nav-item>Davis Bay</b-nav-item>
       <b-nav-item active>Sechelt</b-nav-item>
       <b-nav-item>Halfmoon Bay</b-nav-item>
       <b-nav-item>Pender Harbour</b-nav-item>
       <b-nav-item>Powell River</b-nav-item>
       <b-nav-item>Lund</b-nav-item>
       </b-nav>

       <b-container class="sidebar">
       <h3>places</h3>
       <DataTest />
       </b-container>
       <b-container class="content">
       <router-view />
       </b-container>
       </b-container> -->
</template>

<script>
import AppNavBar from './components/AppNavBar.vue'

export default {
  name: 'app',
  components: {
    AppNavBar,
  }
}
</script>

<style lang="sass">
@import './custom.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>
<style>
.sidebar {
    position: fixed;
    height: 100vh;
    overflow: scroll;
    width: 300px;
    padding-top: 65px;
}
.content {
    padding-top: 65px;
    margin-left: 300px;
}
</style>
