<template>
  <q-item :to="to">
    <q-item-side icon="house" inverted color="yellow" />
    <q-item-main>
      <q-item-tile label>{{name}}</q-item-tile>
      <q-item-tile sublabel>{{shortDescription}}</q-item-tile>
    </q-item-main>
  </q-item>
</template>

<script>
export default {
  name: 'AreaItem',
  props: ['name', 'shortDescription', 'to']
}
</script>
