<template>
  <q-item>
    <q-item-side :icon="icon" inverted :color="color" />
    <q-item-main>
      <q-item-tile label>{{label}}</q-item-tile>
      <q-item-tile sublabel>{{sublabel}}</q-item-tile>
    </q-item-main>
  </q-item>
</template>

<script>
export default {
  name: 'RegionItem',
  props: ['icon', 'color', 'label', 'sublabel']
}
</script>
