<template>
  <div>
    <!-- <br>    <br>    <br> -->
    <!-- <b-nav pills>
         <b-nav-item>Port Mellon</b-nav-item>
         <b-nav-item>Langdale</b-nav-item>
         <b-nav-item>Gibsons</b-nav-item>
         <b-nav-item>Roberts Creek</b-nav-item>
         <b-nav-item>Wilson Creek</b-nav-item>
         <b-nav-item>Davis Bay</b-nav-item>
         <b-nav-item active>Sechelt</b-nav-item>
         <b-nav-item>Halfmoon Bay</b-nav-item>
         <b-nav-item>Pender Harbour</b-nav-item>
         <b-nav-item>Powell River</b-nav-item>
         <b-nav-item>Lund</b-nav-item>
         </b-nav>
       -->
    <b-container class="sidebar">
      <h3>admin places</h3>
      <PinNav />
    </b-container>
    <b-container class="content">
      <router-view />
    </b-container>
    </b-container>
  </div>
</template>

<script>
import PinNav from './PinNav.vue'

export default {
  name: 'app',
  components: {
    PinNav,
  }
}
</script>
