<template>
  <label v-if="pin">
    <input
      type="checkbox"
      :checked="pin[field]"
      @click.prevent="toggle"
    />
    {{field}}
  </label>
</template>

<script>
import gql from 'graphql-tag'

export default {
  props: ["field", "id"],
  data: () => ({
    pin: null,
    loading: 0,
  }),
  apollo: {
    pin: {
      query() {
        return gql`
          query PIN_${this.field} ($id: ID!) {
            pin(id: $id) {
              id
              ${this.field}
            }
          }
        `
      },
      variables() {
        return {
          id: this.id
        }
      }
    }
  },
  methods: {
    toggle() {
      if (!this.loading) {
        this.$apollo.mutate({
          mutation: gql`
            mutation($id: ID!, $value: Boolean!) {
              updatePin(id: $id, ${this.field}: $value) {
                id
                ${this.field}
              }
            }
          `,
          variables: {
            id: this.id,
            value: !this.pin[this.field],
          },
        })
      }
    }
  }
}
</script>
