<template>
  <div v-if="!$apollo.loading">
    <div :class="{hidden: pin.hidden}">
      <h1>Edit: {{pin.name || '_name'}}</h1>

      <b-form @submit.prevent="onSubmit">
        <div
          v-for="item, index in form"
          :key="index"
        >
          <b-form-group v-if="item.type === 'checkbox'">
            <b-form-checkbox v-model="item.value">
              {{item.field}}
            </b-form-checkbox>
          </b-form-group>

          <b-form-group
            v-else
            :label="item.field"
            :label-for="`id-${index}`"
          >
            <b-form-input
              :id="`id-${index}`"
              type="text"
              v-model="item.value"
            />
          </b-form-group>
          
        </div>

        <b-button type="submit">submit</b-button>
      </b-form>

      <a :href="searchUrl" target="_blank">search</a>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import YelpRecord from './YelpRecord.vue'

export default {
  components: {
    YelpRecord,
  },
  methods: {
    onSubmit() {
      const doc = {}
      this.form.forEach(f => doc[f.field] = f.value)

      this.$apollo.mutate({
        mutation: gql`
          mutation UPDATE_PIN($id: ID!, $doc: PinUpdateInput!) {
            updatePin(where: { id: $id }, data: $doc) {
              id
            }
          }
        `,
        variables: {
          id: this.pin.id,
          doc
        }
      })
    }
  },
  computed: {
    searchUrl() {
      return `https://duckduckgo.com/?q=${encodeURIComponent(this.pin.name)}`
    },
    mapUrl() {
      const q = encodeURIComponent(this.pin.address)
      const key = "AIzaSyC_XU09314wb961WGAW30yELiYgSnpaHcw"
      const zoom = 12
      return `https://www.google.com/maps/embed/v1/place?key=${key}&zoom=${zoom}&q=${q}`
    },
  },
  data: () => ({
    pin: null,
    form: {},
    loading: 0,
  }),
  apollo: {
    pin() {
      return {
        query: gql`
          query PIN($id: ID!) {
            pin(where: { id: $id }) {
              id
              yelp
              city
              region
              category
              name
              address
              website
              phone
              hidden
              awesome
              dubious
              verified
            }
          }
        `,
        variables() {
          return {
            id: this.$route.params.id
          }
        },
        result({ loading, data: { pin } }) {
          if (!loading) {
            this.form = [
              {
                field: 'name',
                value: pin.name,
              },
              {
                field: 'address',
                value: pin.address,
              },
              {
                field: 'city',
                value: pin.city,
              },
              {
                field: 'region',
                value: pin.region,
              },
              {
                field: 'category',
                value: pin.category,
              },
              {
                field: 'awesome',
                value: pin.awesome,
                type: 'checkbox',
              },
              {
                field: 'dubious',
                value: pin.dubious,
                type: 'checkbox',
              },
              {
                field: 'hidden',
                value: pin.hidden,
                type: 'checkbox',
              },
              {
                field: 'verified',
                value: pin.verified,
                type: 'checkbox',
              },
              {
                field: 'phone',
                value: pin.phone,
              },
              {
                field: 'website',
                value: pin.website,
                extra: {
                  text: "search",
                  link: "http://google.com"
                }
              },
            ]
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.hidden {
    opacity: .1;
}
</style>
