<template>
  <div v-if="!loading">
    <b-nav pills vertical>
      <b-nav-item
        v-for="pin in sortedPins"
        :key="pin.id"
        :class="{ hidden: pin.hidden }"
        :to="{ name: 'adminPin', params: { id: pin.id } }"
      >
        <b>{{ pin.name }}</b>
        <br/>
        <small>{{pin.address}}</small>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data: () => ({
    pins: "",
    loading: 0,
  }),
  computed: {
    sortedPins() {
      const x = [...this.pins]
      return x.sort((a,b) => a.name && a.name.localeCompare(b.name))
    }
  },
  apollo: {
    pins: {
      query: gql`
        query ALL_PINS {
          pins {
            id
            name
            address
            hidden
          }
        }
      `,
      //pollInterval: 60000,
    }
  }
}
</script>

<style scoped>
.hidden {
    opacity: 0.1;
}
</style>
