<template>
  <div class="yelp">
    <h4>Yelp Data</h4>
    <div>name: {{yelp.name}}</div>
    <div>address: {{yelp.address}}</div>
    <div>phone: {{yelp.phone}}</div>
    <div>website: <a :href="yelp.website" target="_blank">{{yelp.website}}</a></div>
    <div>url: <a :href="yelp.url" target="_blank">{{yelp.url}}</a></div>
    <div v-for="(value, key) in yelp.categories" :key="key">
      category: {{value}}
    </div>
    <div v-for="(value, key) in yelp.more" :key="key">
      {{key}}: {{value}}
    </div>
  </div>
</template>

<script>
export default {
  props: ['yelp']
}
</script>

<style scoped>
div.yelp {
    color: gray;
    padding: 10px;
    opacity: 0.1;
}
div.yelp:hover {
    opacity: 1;
}
a {
    color: inherit;
}
</style>
