<template>
  <b-navbar toggleable="md" type="dark" :variant="navbarVariant">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand to="/">Touring List</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/admin">Admin</b-nav-item>

        <!-- <b-nav-form>
             <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
             <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
             </b-nav-form>
           -->
        <!-- <b-nav-item-dropdown right>
             <template slot="button-content">
             <em>User</em>
             </template>
             <b-dropdown-item href="#">Profile</b-dropdown-item>
             <b-dropdown-item href="#">Signout</b-dropdown-item>
             </b-nav-item-dropdown> -->
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  computed: {
    navbarVariant() {
      return this.$route.path.match(/^\/admin/) ? 'danger' : 'primary'
    }
  }
}
</script>
