<template>
  <div class="hello">
    <h1>PADDING</h1>
    <h4>&nbsp;</h4>

    <b-container fluid>
      <b-card
        class="ferry"
        overlay
        img-src="http://ep1.pinkbike.org/p4pb13089863/p4pb13089863.jpg"
        img-alt="Card Image"
        text-variant="black"
        title="Sunshine Coast, BC"
        sub-title="">
        <p class="card-text">
        </p>
      </b-card>

      <br/>

      <b-card-group deck>

        <b-card title="Langdale"
          img-src="https://farm4.staticflickr.com/3683/12444457175_2e2f123bb5_c.jpg"
          img-fluid
          img-alt="image"
          img-top
        >
          <p class="card-text">
            <ul>
              <li>vancouver ferry info</li>
              <li>wheatberries cafe</li>
              <li>routes to gibsons</li>
              <li>port mellon sidetrip</li>
            </ul>
          </p>
        </b-card>

        <b-card title="Gibsons"
          img-src="https://i.pinimg.com/originals/81/02/93/8102939bb9af78450281de674b346890.jpg"
          img-fluid
          img-alt="image"
          img-top
        >
          <p class="card-text">
            <ul>
              <li>molly's reach</li>
              <li>school road</li>
              <li>tim hortons!</li>
            </ul>
          </p>
        </b-card>

        <b-card title="Roberts Creek" class="ferry"
          img-src="https://media-cdn.tripadvisor.com/media/photo-s/02/25/72/64/cute-quaint-building.jpg"
          img-fluid
          img-alt="image"
          img-top
        >
          <p class="card-text">
            <ul>
              <li>gumboot</li>
              <li>roberts creek pp</li>
              <li>general store</li>
            </ul>
          </p>
        </b-card>


        <b-card title="Wilson Creek"
          img-src="http://www.ourbc.com/travel_bc/bc_cities/vancouver_coast/photos/wilson_creek/wilson_creek_plaza_01_640.jpg"
          img-fluid
          img-alt="image"
          img-top
        >
          <p class="card-text">
            <ul>
              <li>IGA Super Market</li>
              <li>RV Park</li>
            </ul>
          </p>
        </b-card>

        <b-card title="Davis Bay"
          img-src="http://3.bp.blogspot.com/-myIBL14IyYo/T53Npgm7yTI/AAAAAAAAAJw/JNyaC7tZVws/s1600/Sunshine+Coast+%2528104%2529.jpg"
          img-fluid
          img-alt="image"
          img-top
        >
          <p class="card-text">
            <ul>
              <li>The Beach</li>
              <li>Wobbly Canoe</li>
            </ul>
          </p>
        </b-card>

      </b-card-group>

    </b-container>
  </div>

  <!-- card-group-3.vue -->
  </div>
</template>

<script>
export default {
}
</script>
<style scoped>
.card img {
    height: 200px
}
.card-img-overlay h4 {
    font-weight: bold;
    font-size: 200%;
}
    
</style>
