<template>
  <div v-if="!$apollo.loading">
    <div v-if="!pin">
      not found
    </div>
    <div v-else :class="{hidden: pin.hidden}">
      <h1>{{pin.name || '_name'}}</h1>

      <div v-if="pin.address">{{pin.address.split('\n').join(', ')}}</div>

      <div>{{pin.phone}}</div>

      <a v-if="pin.website" :href="pin.website" target="_blank">{{pin.website}}</a>

      <div>{{pin.region}}</div>
      <div>{{pin.category}}</div>
      <div v-for="(value, key) in pin.social" :key="key">
        <a :href="value" target="_blank">{{key}}</a>
      </div>

      <router-link :to="{ name: 'pinEdit', params: { id: pin.id } }">edit</router-link>

      <br/>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        :src="mapUrl"
        allowfullscreen>
      </iframe>

    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  components: {
  },
  computed: {
    searchUrl() {
      return `https://duckduckgo.com/?q=${encodeURIComponent(this.pin.name)}`
    },
    mapUrl() {
      const q = encodeURIComponent(this.pin.address)
      const key = "AIzaSyC_XU09314wb961WGAW30yELiYgSnpaHcw"
      const zoom = 12
      return `https://www.google.com/maps/embed/v1/place?key=${key}&zoom=${zoom}&q=${q}`
    },
  },
  data: () => ({
    pin: null,
    loading: 0,
  }),
  apollo: {
    pin() {
      return {
        query: gql`
          query PIN($id: ID!) {
            pin(where: { id: $id }) {
              id
              name
              address
              website
              phone
              hidden
              awesome
            }
          }
        `,
        variables() {
          return {
            id: this.$route.params.id
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.hidden {
    opacity: .1;
}
</style>
