<template>
  <div>
    <b-form-input v-model="filter" placeholder="Type to Search" />
    <b-table
      striped
      hover
      bordered
      :items="pins"
      :fields="fields"
      :filter="filter"
    >
      <template slot="name" slot-scope="data">
        <router-link :to="{ name: 'pin', params: { id: data.item.id } }">{{data.value}}</router-link>
      </template>
    </b-table>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data: () => ({
    filter: null,
    fields: {
      name: {
        label: 'Name',
        sortable: true
      },
      city: {
        sortable: true
      },
      region: {
        sortable: true
      },
      category: {
        sortable: true
      },
    },
    pins: [],
  }),
  apollo: {
    pins: {
      query: gql`
        query ALL_PINS {
          pins {
            id
            name
            city
            region
            category
          }
        }
      `,
      //pollInterval: 60000,
    }
  }
}
</script>
