<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header reveal>
      <q-toolbar
        color="green-9"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="directions bike" />
        </q-btn>

        <q-toolbar-title>
          {{header}}
        </q-toolbar-title>

        <q-btn
          flat
          dense
          round
          @click="$router.push({ name: 'user' })"
        >
          <q-icon name="person" />
        </q-btn>
      </q-toolbar>

      <q-tabs color="green-9" inverted>
        <q-route-tab
          label="Places"
          icon="place"
          :to="{ name: 'places' }"
          slot="title"
        />

        <q-tab
          label="Map"
          icon="map"
          @click.native="openURL('https://www.google.ca/maps/@49.6278656,-124.089818,9.89z?hl=en')"
          slot="title"
        />

        <q-route-tab
          label="Links"
          icon="format list bulleted"
          :to="{ name: 'links' }"
          exact
          slot="title"
        />

      </q-tabs>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-toolbar
        color="green-9"
        :inverted="$q.theme === 'ios'"
      >
        <q-toolbar-title>
          Touring List
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  computed: {
    header () {
      return this.$store.getters['ui/header']
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
